<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Home </title>
  <link rel="stylesheet" href="/styles/style.css">
<body>
<div class="">
<h1 class=""> Search artist </h1>
  <form action="/artist-search" method="GET" class="">
    <label for="name">  </label>
    <input type="text" name="name" id="name" required class=""/>
    <input type="submit" value="Search artist" class="" />
  </form>
</div>
<footer> Powered by Spotify - Developed by Lea Monsenego @Ironhack</footer>
</body>
</html>
